@use "variables" as *;
@use "reset" as *;
@use "utils" as *;
@use "classes" as *;
@use "media-queries" as *;

body {
  font-family: var(--Font-Epilogue);

  header {
    max-width: 1440px;
    margin: auto;

    .header-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 3rem 2.6rem;
      font-size: 1.4rem;
      font-weight: 700;

      //@include mobile {
      //  position: relative;
      //}

      .header-left {
        display: flex;
        align-items: center;
        gap: min(2.2vw, 6rem);

        .container-logo {
          .logo {
            width: 10rem;
            margin-right: 2rem
          }
        }

        .container-nav {
          display: flex;
          align-items: center;
          gap: min(2.2vw, 6rem);

          @include mobile {
            //display: none;
            position: relative;
          }

          .nav-list {
            display: flex;
            position: relative;
            list-style: none;
            gap: 5rem;

            @include mobile {
              transform: translateY(-5rem);
              padding: 5rem 10rem 5rem 2rem;
              flex-direction: column;
              position: absolute;
              height: 100vh;
              top: 1%;
              left: 85px;
              z-index: 2;
              background-color: antiquewhite;
              gap: 2rem;
            }

            li {
              .dropdown-menu {
                //display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                position: absolute;
                top: 3rem;
                padding: 1.5rem;
                box-shadow: var(--Box-shadow);
                border-radius: 5px;
                list-style: none;
                row-gap: 2rem;
                cursor: pointer;

                @include mobile {
                  position: static;
                  padding: 0;
                  box-shadow: none;
                  margin-top: 2rem;
                  margin-left: 2rem;
                  row-gap: 1rem;

                }

                .item-container {
                  display: flex;
                  gap: 1rem;
                }
              }

              .dropdown-features, .dropdown-company {
                display: none;
              }

              .show-menu {
                display: flex;
              }

              a {
                color: var(--Medium-Gray);
                text-decoration: none;
                display: flex;
                align-items: center;
                gap: 0.7rem;
              }
            }
          }
        }
      }

      .header-right {
        display: flex;
        align-items: center;
        gap: min(2.2vw, 6rem);

        .nav-open, .nav-close {
          display: none;
        }

        @include mobile {
          display: flex;
          flex-direction: column;
          z-index: 3;

          a {

          }

          .nav-open {
            display: flex;
          }

          .nav-open, .nav-close {
            font-size: 4rem;
          }
        }
      }
    }
  }

  main {
    max-width: 1100px;
    margin: 7rem auto auto auto;

    .container-main {
      margin: auto;
      display: flex;
      gap: 10rem;

      @include mobile {
        flex-direction: column-reverse;
      }

      .body-left {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        row-gap: 12rem;

        @include mobile {
          row-gap: 5rem;
        }

        .information {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          row-gap: 5rem;

          @include mobile {
            align-items: center;
            row-gap: 3rem;
          }

          h1 {
            font-size: 7.1rem;
            font-weight: 700;

            @include mobile {
              font-size: 4rem;
            }

            span {
              display: block;

              @include mobile {
                display: inline;
              }
            }
          }

          p {
            font-size: 1.8rem;
            font-weight: 500;
            color: var(--Medium-Gray);
            line-height: 2.7rem;

            @include mobile {
              text-align: center;
              font-size: 1.9rem;
            }
          }

          a {
            font-size: 17px;
          }
        }

        .partners {
          display: flex;
          gap: 4rem;

          @include mobile {
            justify-content: center;
          }

          img {
            width: 100%;
            object-fit: contain;

            @include mobile {
              width: 15%;
            }
          }
        }
      }

      .body-right {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;

        .picture-desktop {
          width: 50rem;
          height: auto;
        }

        .picture-mobile {
          display: none;
        }

        @include mobile {
          .picture-desktop {
            display: none;
          }

          .picture-mobile {
            display: flex;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}